
body {
    text-align: center;
    margin-top: 70px;  
    outline: none;
    background: linear-gradient(80deg, rgb(0, 0, 0), rgb(90, 88, 88));
}

h1{
    color: lime;
    font-size: 80px;
    font-family:  Impact, Charcoal, sans-serif;

}
#list {
    font-size: 25px;
    color: white;
    font-family:  sans-serif;
}
.btn {
    /* text-align: justify; */
    margin: 30px;
}
.txt {
    border: 4px solid black;
    border-radius: 10px;
    font-size: 45px;
    outline: none;
border-bottom: 4px solid #fff;
}
button {
    border-radius: 20px;
    border-width: thick;
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: rgb(207, 204, 204);
    outline: none;
}

button:hover {
    /* background: #fff; */
     opacity: 0.9; 
}
